body{
	background: #FFFFFF;
}
h1{
	color: #3333FF;
}
#Pagebody{
	display: flex;
    flex-direction: row;
	margin-left: 20px;
	margin-right: 20px;
	height: 720px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#Header{
	padding:  20px;
	padding-left: 50px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	width: auto;
	background-color:  #33FFCC;
}
#Footer{
	margin-left: 20px;
	margin-bottom: 0;
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 0;
}
#Sider{
	margin-top: 20px;
	width: 300px;
	height:  700px;
	background-color: #FFFFFF;
	border-style: dashed;
	border-color: #CC0000; 
}
#Main{
	margin-left: 100px;
	margin-right: 20px;
	margin-top: 20px;
	background-color: #FFFFFF;
	height: 700px;
	width: 1000px;
}
